.content-container {
    padding: 20px;
}

@media (max-height: 500px) {
    .content-container {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

@media (max-width: 500px) {
    .content-container {
        padding-left: 4px;
        padding-right: 4px;
    }
}

.wifi-node {
    stroke: #DBDBD9;
    stroke-width: 2px;
}

/* green circle */
.wifi-access-point {
    fill: #50DD30;
}

/* blue circle */
.wifi-device {
    fill: #3081DD;
}

/* blue/green circle */
.wifi-hybrid {
    fill: #40AF87;
}

/* grey circle */
.wifi-unknown {
    fill: #B2B1B0;
}

/* yellow circle outline when hovering over nodes */
.recent-node:hover {
    stroke: #F2E646;
    stroke-width: 6px;
}

svg {
    background: #F7F7F7;
}

svg text {
    fill: #1B1E21;
    text-anchor: start;
    font-size: 12px;
}


.user-summary-legend {
    text-anchor: middle;
}

.device-labels {
    text-anchor: middle;
}

.recent-node ~ text {
    opacity: 0;
    cursor: default;
    text-anchor: middle;
}

.recent-node:hover ~ text {
    opacity: 1;
}


