/*
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #DAE3E7;
}
*/

/*
.content-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
*/

.content-container {
    padding: 20px;
}

@media (max-height: 500px) {
    .content-container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media (max-width: 500px) {
    .content-container {
        padding-left: 0px;
        padding-right: 0px;
    }
}


/*
circle {
    stroke: #DBDBD9;
    stroke-width: 1px;
}
*/

.recent-node {
    stroke: #DBDBD9;
    stroke-width: 2px;
}

.wifi-access-point {
    fill: #50DD30;
}

.wifi-device {
    fill: #3081DD;
}

.wifi-hybrid {
    fill: #40AF87;
}

.wifi-unknown {
    fill: #B2B1B0;
}

.recent-node:hover {
    stroke: #F2E646;
    stroke-width: 6px;
}

/*
circle:hover {
    stroke: #ADAD66;
    stroke-width: 3px;
}
*/
     
text {
    text-anchor: start;
    font-size: 12px;
}

text.time-legend {
    text-anchor: start;
}

.device-labels, .user-summary-legend {
    text-anchor: middle;
}



/*
.node text {
    text-anchor: end;
    font-size: 12px;
    cursor: default;
}
*/

.node text {
    opacity: 0;
}

.node:hover text {
    opacity: 1;
}


